html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFFF;
}
html {
	min-height: 100%;
   	position: relative;
}
.home-body {
	height: 2500px;
}

h1,p,h2,button,a,li,input,textarea {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 65px;
}
p {
	font-weight: 10;
	font-size: 18px;
	line-height: 22px;
}
h2 {
	font-weight: 1;
	font-size: 30px;
}
button, a, li {
	background-color: transparent;
	font-weight: 10;
	font-size: 17px;
	line-height: 21px;
	outline: none;
	text-decoration: none;
}



/* --------------- HEADER ------------------- */

.header {
	height: 20%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	-webkit-transition: all 0.2s;
	/* Safari */
	transition: all 0.2s;
}
.small-header {
	/* shrinks header when scroll down */
	height: 15%;
}
.h-rectangle-1 {
	height: 91%;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}
.transparant-header {
	/* makes header transparant when scroll down */
	background-color: rgba(255, 255, 255, 0.95);
}
.h-rectangle-2 {
	height: 8%;
	width: 100%;
	background-color: #FCB518;
	box-shadow: 0 3px 2px -2px #2B2B2B;
}
.logo-div {
	margin: 1% 0 0.45% 4.77%;
	height: 100%;
	width: 5%;
	float: left;
	display: inline-flex;
}
.logo-div a {
	display: block;
}
.logo {
	height: 70%;
	width: auto;
	cursor: pointer;
}
.title {
	margin: 3% 0 auto 3%;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #1F2D3D;
	-webkit-transition: all 0.2s;
	/* Safari */
	transition: all 0.2s;
	display: inline-flex;
}
.small-title {
	margin: 2.4% 0 auto 1.5%;
	font-size: 18px;
}

.btn-group {
	margin: 2.5% 3.23% 0.82% 0;
	float: right;
	display: flex;
	overflow: none;
	align-items: center;
	-webkit-transition: margin-top 0.2s;
	/* Safari */
	transition: margin-top 0.2s;
}
.small-btn-group {
	/* shrinks btn-group when scroll down */
	margin-top: 1.6%;
}
.menu-btn {
	display: none;
	margin: 4% 0 0 85%;
	position: absolute;
	width: 8%;
	height: auto;
}
.btn-group button {
	font-family: 'Raleway', sans-serif;
	border: none;
	color: black;
	padding: 10px 15px;
	float: left;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom 0.3s;
	/* Safari */
	transition: border-bottom 0.3s;
}
.btn-group button:hover {
	border-bottom: 3px solid #148A43;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
.dropbtn {
	/* Dropdown Button */
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	margin-top: 33%;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 6;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
	display: block;
}
/* ------------------- BANNER -------------------- */

.banner {
	margin-top: 5%;
	position: relative;
	width: 100%;
	height: 23%;
	overflow: hidden;
}
.banner img {
	width: 100%;
	height: auto;
}
.banner-text {
	color: white;
	position: absolute;
	text-align: center;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.6);
}
.home-banner .banner-text {
	padding-top: 10%;
}
.learn-more {
	position: absolute;
	margin: 3% 40% 0 40%;
	width: 20%;
	top: 50%;
}
.learn-more button {
	color: white;
	border-radius: 10px;
	border: 2px solid #148A43;
	-webkit-transition: border 0.4s;
	/* Safari */
	transition: border 0.4s;
	width: 50%;
	padding: 5px;
}
.learn-more button:hover {
	border: 2px solid #DB6E27;
}
/* ---------------- who are we  ---------------- */

.description {
	width: 100%;
	height: 14%;
	overflow: hidden;
	background-color: white;
}
.text-body {
	color: #1F2D3D;
	margin: 3% auto;
	width: 50%;
	text-align: center;
}
.home-text-body ul {
	text-align: left;
}
.home-text-body li {
	margin-bottom: 10px;
}
.home-text-body {
	width: 60%;
}
/* -------------- upcoming event -------------- */

.upcoming-event {
	width: 100%;
	height: 20%;
	background-color: rgba(44, 249, 123, 1);
	position: relative;
	overflow: hidden;
	box-shadow: 0px 1px 4px #C2C2C2, 0px -1px 4px #C2C2C2;
}
.upcoming-event h2 {
	color: white;
}
.upcoming-event u {
	padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 3px solid #DB6E27;
}
.event-left {
	margin: 2% 0 0 10%;
	padding: 1% 0 0 5%;
}
.event-text {
	margin-top: 2%;
	height: 6.77%;
	width: 40%;
	color: #1F2D3D;
}
.event-text h3 {
	font-family: 'Raleway', sans-serif;
	margin-bottom: -3%;
}
.event-text h2 {
	font-weight: 700;
	font-style: italic;
	color: #1F2D3D
}
.event-text p {
	font-family: 'Raleway', sans-serif;
}
.event-text a {
	color: white;
	border-left: 2px solid transparent;
	-webkit-transition: border-left 0.3s;
	/* Safari */
	transition: border-left 0.3s;
	padding: 5px;
}
.event-text a:hover {
	border-left: 2px solid #DB6E27;
}
.event-text #view-all {
	font-style: italic;
	font-weight: 700;
	color: #1F2D3D;
}
.event-right {
	margin: 2% 0 0 0;
	padding-right: 8%;
	height: 90%;
}
.right {
	width: 30%;
	float: right;
}
.right img {
	height: 100%;
	width: auto;
}
.event-right img {
	border-radius: 5px;
	box-shadow: 0 1px 5px #505050;
}
.right:after {
	content: "";
	clear: both;
	display: table;
}
/* ------------- GET INVOLVED ------------- */

.get-involved {
	width: 100%;
	height: 17%;
	z-index: -1;
	padding: 3% 0;
	text-align: center;
	overflow: hidden;
	background-color: white;
}
.options {
	width: 90%;
	margin: 5% auto;
	text-align: center;
}
.options div {
	display: block;
	width: 20%;
	height: 5%;
	float: left;
}
.subtitle {
	margin: 0 auto;
	width: 50%;
}
.options img {
	height: auto;
	width: 40%;
	-webkit-transition: all 0.1s;
	/* Safari */
	transition: all 0.1s;
	cursor: pointer;
}
.options img:hover {
	width: 43%;
	margin-top: -3%;
}
.options span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}
/* ------------ Businesses ------------ */

.businesses {
	width: 100%;
	height: 15%;
	overflow: hidden;
	background-color: white;
	position: relative;
}
.business-text {
	padding: 3%;
	position: absolute;
	z-index: 2;
	color: white;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.business-text span {
	color: #148A43;
}
.businesses img {
	margin-top: -14%;
	width: 100%;
	height: auto;
}
/* ------------ Footer ------------ */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 243px;
	width: 100%;
	background-color: #4A4A4A;
	z-index: 3;
	overflow: hidden;
}
.footer-text {
	margin: auto;
	padding: 2% 0;
	width: 25%;
	color: #FFFFFF;
	font-family: Lato;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}
.footer-text p {
	font-family: Lato;
}
.footer img {
	margin: 1.5%;
	width: 7%;
	height: auto;
	cursor: pointer;
}
.footer img:hover {
	opacity: 0.7;
}
#copyright {
	font-size: 14px;
}

/* --------------------------------- ABOUT US PAGE ----------------------------------*/
.about-us-body {
	height: 4400px;
	background-color: #f5f7fa;
}
.about {
	margin: 0 auto 2% auto;
	padding: 1%;
	width: 80%;
	background-color: white;
}
.about-banner {
	height: 500px;
}
.about-banner img {
	margin-top: -5%;
}
.about-text {
	width: 65%;
}
.team {
	margin: 1% auto;
	width: 82%;
	height: auto;
	z-index: -1;
	padding: 3% 0;
	text-align: center;
	overflow: hidden;
	background-color: white;
	padding-bottom: 5%
}
.team h2 {
	font-weight: 900;
	font-size: 40px;
	color: #416B9C;
}
.board {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.board div {
	margin: 6% 4% 0 4%;
	display: block;
	width: 25%;
	height: 5%;
	float: left;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	/* Safari */
	transition: all 0.4s;
}
.board div:hover {
	box-shadow: 0 1px 10px #AFAFAF; 
	border-radius: 5px;
}
.board img {
	margin-top: 10px;
	height: auto;
	width: 50%;
}
.board span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}

.awards {
	margin: 1% auto;
	width: 82%;
	height: auto;
	z-index: -1;
	padding: 3% 0;
	text-align: center;
	overflow: hidden;
	background-color: white;
}
.certificates {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.certificates div {
	display: block;
	width: 31%;
	height: 430px;
	float: left;
	border: 1px solid #dFdFdF;
	border-radius: 5px;
	margin: 2% 1%;
}
.certificates img {
	height: auto;
	width: 90%;
	border-radius: 10px;
	cursor: pointer;
}
.small-award {
	margin: 25% auto;
}

/* --------------------------------- SERVICES PAGE ----------------------------------*/
.services-body {
	height: 1850px;
}
.services-banner {
	height: 300px;
}

.services-banner-text {
	padding-top: 7%;
}
.services {
	margin: 0 auto;
	width: 100%;
	height: auto;
	border-radius: 0px;
	box-shadow: none;
}
.service {
	width: 90%;
	text-align: left;
}
.service div {
	width: 40%;
	padding: 1%;
	border-radius: 10px;
	-webkit-transition: all 0.3s;
	/* Safari */
	transition: all 0.3s;
}
.service div:hover {
	cursor: pointer;
	box-shadow: 0px 1px 3px #ABABAB, 0px -1px 3px #ABABAB;
}
.service-text {
	margin: 0 auto;
}
.service img {
	height: auto;
	margin-right: 8%; 
	width: 30%;
	float: left;
}
.service span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}
.service-subtitle {
	width: 90%;
}
.service-footer {
	height: 15%;
}

.sub-body {
	height: 1300px;
}
.sub-banner {
	height: 40%;
}
.sub-banner-text {
	text-align: left;
	padding: 8%;
}
.sub-banner-text h1 {
	font-weight: 1;
	font-family: 'Raleway', sans-serif;
}
.sub-text-div {
	width: 30%;
}
.newcomer-banner img {
	margin-top: -300px;
}
.service-right {
	border-left: 1px solid grey;
	width: 35%;
	padding-left: 5%;
	height: 80%;
}
.service-right h2 {
	color: #A3749E;
}
.service-list {
	list-style-type: circle;
}

.service-right li {
	font-size: 20px;
	line-height: 1.6;
	color:#2B2B2B;
}
.service-right li:hover {
	color: #148A43;
	cursor: pointer;
}
.service-description {
	height: auto;
	padding: 4% 0;
	background-color: white;
	overflow: hidden;
}
.sub-desc {
	margin: 0 10%;
}

.youth img {
	margin-top: -60%;
}
.women img {
	margin-top: -5%;
}
.business img {
	margin-top: -10%;
}
.cultural img {
	margin-top: -5%;
}
.sports-banner img {
	margin-top: -12%;
}

/* ---------------------- Contact Us ------------------------ */
.contact-body {
	height: 1080px;
}
.contact-banner {
	height: 40%;
}
.contact-banner img {
	margin-top: -10%;
}
.contact-text {
	width: auto;
}
.contact-left ul {
	margin-left: 10%;
	list-style: none;
	width: 20%;
	padding-bottom: 2%;
	border-bottom: 1px solid grey;

}

.contact-left li {
	padding: 5%;
	line-height: 1.2;
	font-size: 20px;
	cursor: auto;
	font-family: Lato;
}
.contact-left li img {
	width: 25px;
	margin-right: 8%;
	margin-left: -20%;
	height: auto;
}
.contact-right {
	width: 50%;
	margin-left: -5%;
	padding-left: -5%;
	height: 100%;
}
.contact-form {
	width: 70%;
}
.contact-form input {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #A1A1A1;
}
.contact-form textarea {
	display: block;
	width: 100%;
	padding: 5px 10px;
	height: 160px;
	border-radius: 5px;
	border: 1px solid #A1A1A1;
}

.contact-form .contact-submit {
	color: black;
	background-color: transparent;
	margin: 3% 40%;
	border-radius: 10px;
	border: 2px solid #148A43;
	-webkit-transition: border 0.4s;
	/* Safari */
	transition: border 0.4s;
	width: 30%;
	padding: 5px;
	font-size: 15px;
}
.contact-form .contact-submit:hover {
	border: 2px solid #DB6E27;
}

/* ----------------------- Memberships ----------------------- */
.mem-body {
	height: 600px;
}
.mem-banner {
	height: 100%;
}
.mem-banner img {
	margin-top: -10%;
}

/* ------------------------ Events -------------------------- */
.events-body {
	height: 2450px;
}
.events-banner {
	height: 320px;
}
.events-description {
	height: 200px;
}
.event-calendar {
	margin-top: -100px;
	height: auto;
	padding: 0 5% 10% 5%;
	background-color: white;
}
.month {
	margin:7% 0 0 0;
	width: 70%;
}
#month {
	margin: 0 2%;
	color: #777;
}
.accordion-style-1 {
	background: linear-gradient(300deg, #A4F0C8,white);
}
.accordion-style-1 .active, .accordion-style-1:hover {
	background: linear-gradient(270deg, #7AF0B2,white);
}
.accordion-style-1 div {
	background-color: #54E799;
}

.accordion-style-2 {
	background: linear-gradient(300deg, #F0D7A4,white);
}
.accordion-style-2 .active, .accordion-style-2:hover {
	background: linear-gradient(270deg, #F0C27A,white);
}
.accordion-style-2 div {
	background-color: #F8B244;
}	

.accordion {
	margin-top: 1%;
    color: #777;
    cursor: pointer;
    padding: 0 20px 0 0;
    height: 90px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 25px;
}
.accordion div {
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	display: inline-block;
	color: white;
	height: 70%;
	width: 80px;
	margin: 0 10px 0 0;
}
.accordion:after {
	padding-top: 3%;
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 96%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #CFCFCF;
    border-top: none;
}
.accordion-event-text {
	color: #1F2D3D;
	width: 100%;
	margin-bottom: 20px;
}
.accordion-event-text a {
	color: #1F2D3D;
}

/* Popup Window */
.popup {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
	padding-left: 5%;
	padding-right: 5%;
}

.image-popup {
	background-color: white;
	margin: 10% 0 0 10%;
	height: 60%;
	width: 30%;
	float: left;
}

.image-popup img {
	width: 90%;
	height: auto;
	object-fit: cover;
}

.popup-info {
	background-color: white;
	margin: 10% 10% 0 0;
	height: 60%;
	width: 30%;
	float: left;
	font-family: 'Work Sans', sans-serif;
	overflow-y: scroll;
	padding: 0 5%;
}

.bg {
	opacity: 0.3;
}

.popup-info a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 2em;
	color: black;
}

.close {
	position: absolute;
	float: right;
	color: white;
	font-size: 50px;
	margin-right: 50px;
}

.close:hover, .close:focus {
	color: #938E64;
	cursor: pointer;
}

/* ------------------------ Gallery -------------------------- */
.gallery-body {
	height: 7400px; /* ADD 700px */
}
.gallery-banner {
	height: 300px;
}
.gallery-banner img {
	margin-top: -10%;
}
.gallery-description {
	height: 350px;
}
.gallery-description ul {
	width: 100%;
  	margin: 0 auto;
  	padding: 0;
  	list-style: none;
  	text-align: center;
}
.gallery-description li {
	float: left;
  	width: 31%;
  	margin: 15px auto;
  	padding: 0 1%;
  	text-align: center;
  	font-size: 16px;
}
.image-select {
	margin: 0 auto;
	padding-top: 20px; 
	width: 80%;
}
.image-select p {
	text-align: center;
}
.gallery-description li:hover {
	color: #AFAFAF;
}
.gallery {
	margin-top: -5%;
	padding: 5% 10% 5% 10%;
	height: auto;
	background-color: white;
}
.gallery-event {
	width: 100%;
	margin-bottom: 10%;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
}
.event-title {
	padding-top: 2%;
    content: 'View More';
    color: #1F2D3D;
    font-size: 20px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
}
.event-title:hover {
	color: #777;
}
#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #777; 
    color: white; 
    cursor: pointer; 
    padding: 10px 10px 5px 10px; 
    border-radius: 10px; 
    font-size: 30px; 
}

#top:hover {
    background-color: #1F2D3D; 
}

/* --------------------------------- OTHER DEVICES ----------------------------------*/

@media only screen and (max-width: 1024px) {
	.header {
		height: 15%;
	}
	.small-header {
		height: 11%;
	}
	.header .title {
		display: none;
	}
	.header .btn-group {
    	margin: 4% 3.23% 0.82% 0;
	}
	.header .small-btn-group {
    	margin-top: 3%;
	}
	.header .btn-group button {
    	font-size: 18px;
	}
	.home-banner {
		margin-top: 15%;
	}
	.home-banner img {
	    width: auto;
	    height: 100%;
	}
	.home-banner .banner-text {
		padding-top: 20%;
	}
	.home-description {
		height: 16%;
	}
	/*--------------*/
	.about-banner {
		margin-top: 10%;
		height: 400px;
	}
	.about-us-body {
		height: 3900px;
	}
	.certificates div {
		height: 400px;
	}
	/*----------*/
	.services-body {
    	height: 1550px;
	}
	.services-banner {
		margin-top: 15%;
    	height: 300px;
	}
	/*--*/
	.sub-body {
    	height: 1350px;
	}
	.sub-banner {
		margin-top: 15%;
    	height: 450px;
	}
	.newcomer-banner img {
	    margin-top: -200px;
	}
	/*--------*/
	.mem-banner .banner-text {
		padding-top: 25%;
	}
	/*--------*/
	.events-banner {
   		margin-top: 15%;
	}
	/*--------*/
	.gallery-body {
	    height: 6100px;
	}
	.gallery-banner {
		margin-top: 15%;
	}
	.gallery-description {
    	height: 350px;
	}
	/*-------*/
	.contact-banner {
    	margin-top: 15%;
	}
	.contact-left ul {
	    margin-left: 5%;
    	width: 30%;
    }
}
@media only screen and (max-width: 800px) {
	.header .logo {
		margin-top: 15px;
	}
	.header .btn-group {
    	display: none;
  	}
  	.dropdown:hover .dropdown-content {
		display: none;
	}
	.header .menu-btn {
		margin-top: 7%;
		font-size: 40px;
		text-decoration: none;
		color: #5F5F5F;
	    float: right;
	    display: block;
	    border: none;
	    -webkit-transition: all 0.2s;
		/* Safari */
		transition: all 0.2s;
	}
	.small-header .menu-btn {
		margin-top: 5%;
		font-size: 35px;
	}
	.show-menu {
		display: block;
	}
	.header .btn-group {
		margin: 0;
		width: 100%;
		background-color: white;
	}
	.header .btn-group .dropdown{
		width: 100%;
	}
	.header .btn-group button {
		width: 100%;
		float: none;
    	display: block;
    	text-align: center;
    	background-color: #EFEFEF;
    	margin: 0;
    	font-size: 20px;
    	height: 100px;
	}
	.header .btn-group button:hover {
		background-color: white;
	}
	.home-banner {
		height: 20%;
	}
	.upcoming-event {
		height: 21%;
	}
	.event-left {
		margin-left: 4%;
		padding: 0;
	}
	.event-right {
		height: 80%;
		margin: 4% 8% 0 0;
		padding-right: 10%;
	}
	.businesses {
		height: 12%;
	}
	.footer {
		height: 320px;
	}
	.footer-text {
		width: 50%;
	}
	/*-----------*/
	.about-us-body {
		height: 5500px;
	}
	.board div {
		width: 40%;
	}
	.certificates div {
		width: 45%;
		height: 400px;
		overflow: hidden;
	}
	/*--*/
	.sub-body {
	    height: 1500px;
	}
	.sub-banner {
    	height: 420px;
	}
	.newcomer-banner img {
	    margin-top: -80px;
	}
	.cultural img {
   	 margin-top: 5%;
	}
	/*-----*/
	.events-banner {
   		height: 280px;
	}
	.events-description {
    	height: 300px;
	}
	.month {
    	width: 100%;
	}
	/*--------*/
	
	.gallery-body {
    	height: 5100px;
	}
	/*------*/
	.contact-banner {
    	height: 350px;
	}
	.contact-description {
		height: 400px;
	}
}
@media only screen and (max-width: 600px) {
	h1 {
	font-size: 60px;
	line-height: 65px;
}
p {
	font-size: 21px;
	line-height: 26px;
}

button, a, li {
	font-size: 20px;
	line-height: 25px;
}
	.home-body {
		height: 5000px;
	}
	.logo {
		margin-top: 20px;
		height: 60%;
	}
	.header {
		height: 15%;
	}
	.small-header {
		height: 13%;
	}
	.header .menu-btn {
		margin-top: 10%;
		margin-left: 80%;
	}
	.home-banner {
		height: 12%;
	}
	.home-banner .banner-text {
    	padding-top: 30%;
	}
	.home-banner img {
    	width: auto;
   		height: 100%;
	}
	.learn-more {
		margin: 3% 30% 0 30%;
		width: 40%;
	}
	.home-description {
		height: 10%;
	}
	.home-text-body {
		width: 90%;
	}
	.home-text-body li {
    	margin-bottom: 25px;
	}
	.get-involved {
		height: 40%;
	}
	.get-involved .options div {
		width: 100%;
		margin-bottom: 40px;
	}
	.event-right {
		float: none;
		height: 50%;
		margin: 4% 15%;
	}
	.event-left {
		margin: 6% 10%;
	}
	.event-text {
		width: 100%;
	}
	.businesses {
		height: 10%;
	}
	.businesses img {
    	width: auto;
    	height: 100%;
	}
	.footer {
		height: 360px;
	}
	/*------*/
	.about-us-body {
		height: 9700px;
	}
	.about-banner{
		margin-top: 25%;
		height: 300px;
	}
	.board div {
		width: 100%;
	}
	.certificates div {
		width: 100%;
	}
	.image-popup {
    	background-color: white;
    	margin: 10% 0 0 10%;
    	height: 30%;
    	width: 70%;
    	float: none;
    	/* display: block; */
	}
	.image-popup img {
		margin: 0 auto;
    	width: auto;
    	height: 100%;
    	object-fit: cover;
	}
	.popup-info {
   		margin: 0% 10%;
    	height: 60%;
    	width: 60%;
    	float: none;
	}
	/*------*/
	.services-banner-text {
    	padding-top: 20%;
	}
	.services-banner img {
    	width: auto;
    	height: 100%;
	}
	.services-body {
    	height: 2500px;
	}

	.service-right {
		display: none;
	}
	.sub-banner-text h1 {
	    font-size: 50px;
	}
	.sub-text-div {
    	width: 60%;
	}
	.sub-desc {
		margin: 0;
		padding: 0 5%;
		width: 90%;
	}
	.sub-banner {
    	height: 35%;
	}
	.sub-banner img {
    	width: auto;
    	height: 100%;
	}
	.newcomer-banner img {
	    margin-top: 0px;
	}
	/*------*/
	.events-description {
    	height: 450px;
	}
	.accordion div {
		font-size: 30px;
		width: 70px;
	}
	.accordion {
		font-size: 20px;
	}
	/*------*/
	.gallery-body {
	    height: 23600px;
	}
	.gallery-description {
    	height: 450px;
	}
	.gallery {
		padding: 5% 5%;
	}
	.column {
    	-ms-flex: 100%;
    	flex: 100%;
    	max-width: 100%;
    	padding: 0 4px;
	}
}
@media only screen and (max-width: 425px) {
	h1 {
	font-size: 55px;
	line-height: 60px;
}
	.home-body {
		height: 4900px;
	}
	.header {
		height: 13%;
	}
	.header .menu-btn {
		margin-top: 8%;
	}
	.small-header .menu-btn {
		margin-top: 8%;
    	font-size: 30px;
	}
	.small-header {
		height: 11%;
	}
	.learn-more {
    	margin: 15% 25% 0 25%;
    	width: 50%;
	}
	.home-description {
    	height: 12.5%;
	}
	.upcoming-event {
		height: 23%;
	}
	.event-right {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.get-involved {
		padding: 15% 0;
    	height: 36%;
	}
	.footer-text {
		padding-top: 15%;
    	width: 90%;
	} 
	/*-------- about --------*/
	.about-us-body {
    	height: 9500px;
	}
	.about {
		width: 100%;
	}
	.about-text {
    	width: 80%;
	}
	.about-banner .banner-text {
		padding-top: 20%;
	}
	.about-banner {
		margin-top: 20%;
		height: 400px;
	}
	.about-banner img {
		margin-top: 0;
		height: 400px;
		width: auto;
	}
	/*-----------*/
	.services-body p {
		font-size: 18px;
		line-height: 24px;
	}
	.services-body {
    	height: 2000px;
	}
	.sub-banner {
	    height: 30%;
	}
	.sub-body {
    	height: 1800px;
	}
	/*----------*/
	.events-banner img {
	    width: auto;
	    height: 100%;
	}
	.events-description .text-body {
		width: 75%;
	}
	.accordion div {
		font-size: 25px;
		width: 70px;
	}
	.accordion {
		font-size: 18px;
	}
	/*-------*/
	.gallery-body {
    	height: 17300px;
	}
	.gallery-description {
    	height: 550px;
	}
	.gallery-banner img {
    	width: auto;
    	height: 100%;
	}
	.gallery-banner img {
		margin-left: -15%;
   		margin-top: 5%;
	}
	/*--------*/
	.contact-body {
    	height: 1380px;
	}
	.contact-banner img {
		margin-left: -15%;
		margin-top: 0;
    	width: auto;
    	height: 100%;
	}
	.contact-left {
		display: block;
	}
	.contact-left ul {
    	margin: 0 auto;
    	width: 50%;
	}
	.contact-right {
		float: none;
		margin: 10% auto;
		padding: 0;
		width: 80%;
		height: auto;
	}
	.contact-form {
    	width: 90%;
	}
	.contact-description {
    	height: 700px;
	}
}
/* Horizontal Mobile Screens */
@media handheld, (orientation: landscape) {
	.header {
    	height: 100px;
	}
	.small-header {
    	height: 80px;
	}
}

@media only screen and (max-width: 375px) {
	h1 {
	font-size: 50px;
	line-height: 55px;
}
	h2 {
		font-size: 30px;
	}
	.home-banner {
    height: 15%;
}
.home-banner .banner-text {
    padding: 45% 5%;
    width: 90%; 
}
.learn-more {
    margin: 15% 5% 0 5%;
    width: 80%;
}
	.home-description {
    	height: 15%;
    	padding-top: 20%;
	}
	.upcoming-event {
    	height: 21%;
	}
	.event-right {
    	width: 100%;
    	height: auto;
    	margin: 0;
	}
	.event-right img {
		width: 100%;
		height: auto;
	}
	.event-left {
		margin: 10% 5%;
	}
	.get-involved {
		height: 33%;
	}
	/*-------- about --------*/
	.about-us-body {
    	height: 9000px;
	}
	/*------*/
	.mem-body {
    	height: 800px;
	}

	.events-description {
    	height: 550px;
	}
	.accordion {
		font-size: 14px;
	}
	.accordion div {
		margin-right: 2px;
	}
	/*----*/
	.gallery-body {
    	height: 15700px;
	}
}




@media only screen and (min-width: 1440px) {
	.header .title {
		margin: 4% 0 auto 6%;
	}
	.header .small-title {
		margin: 3.5% 0 auto 4%;
	}
	.header .btn-group {
    	margin: 3.5% 3.23% 0.82% 0;
	}
	.header .small-btn-group {
    	margin-top: 3.0%;
	}
	/*-------------*/
	.about-us-body {
		height: 4500px;
	}
	/*------*/
	.services-banner {
    	height: 400px;
	}
	.services-banner-text {
    	padding-top: 13%;
	}
		/*--*/
	.sub-body {
    	height: 1200px;
	}
	.sub-banner {
		height: 500px;
	}
	/*---------*/
	.events-banner {
    	height: 400px;
	}
	.events-body {
    	height: 2550px;
	}
	/*-----------*/
	.gallery-banner {
    	height: 400px;
	}
	.gallery-body {
    	height: 7900px;
	}
}
@media only screen and (min-width: 1600px) {
	.header .title {
		margin: 3.5% 0 auto 4%;
	}
	/*-------------*/
	.about-us-body {
		height: 4800px;
	}
	/*---------*/
	.services-body {
    	height: 2000px;
	}
	.services-banner-text {
    	padding-top: 10%;
	}
	/*--*/
	.newcomer-banner img {
    	margin-top: -400px;
	}
	/*---------*/
	.events-body {
    	height: 2650px;
	}
	/*-------*/
	.gallery-body {
    	height: 8900px;
	}
	/*-------*/
	.contact-body {
    	height: 1180px;
	}

}
@media only screen and (min-width: 1900px) {
	.header .small-title {
		margin: 3% 0 auto 2%;
	}
	/*-------------*/
	.about-us-body {
		height: 5100px;
	}

	.services-body {
    	height: 2200px;
	}
	/*--*/
	.newcomer-banner img {
    	margin-top: -550px;
	}
	/*---------*/
	.events-body {
    	height: 2750px;
	}
	/*--------*/
	.gallery-body {
	    height: 9900px;
	}
}
@media only screen and (min-width: 2560px) {
	.about-us-body {
		height: 6100px;
	}

	.services-body {
    	height: 2800px;
	}
	.services-banner {
    	height: 500px;
	}
	.sub-banner {
		height: 700px;
	}
	.newcomer-banner img {
    	margin-top: -650px;
	}
	/*---------*/
	.events-banner {
    	height: 500px;
	}
	.events-body {
    	height: 3200px;
	}
}
