html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #e8e8e8;
}
html {
	min-height: 100%;
   	position: relative;
}
.home-body {
	height: 2300px;
}

h1,p,h2,button,a,li,input,textarea {
	font-family: 'Oxygen', sans-serif;
}
h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 65px;
}
p {
	font-weight: 10;
	font-size: 17px;
	line-height: 20px;
}
h2 {
	font-weight: 1;
	font-size: 30px;
}
button, a, li {
	background-color: transparent;
	font-weight: 10;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
	outline: none;
}



/* --------------- HEADER ------------------- */

.header {
	height: 20%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	-webkit-transition: height 0.2s;
	/* Safari */
	transition: height 0.2s;
}
.small-header {
	/* shrinks header when scroll down */
	height: 15%;
}
.h-rectangle-1 {
	height: 91%;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}
.transparant-header {
	/* makes header transparant when scroll down */
	background-color: rgba(255, 255, 255, 0.95);
}
.h-rectangle-2 {
	height: 8%;
	width: 100%;
	background-color: #FCB518;
	box-shadow: 0 3px 2px -2px #2B2B2B;
}
.logo-div {
	margin: 1% 0 0.45% 4.77%;
	height: 100%;
	width: 5%;
	float: left;
	display: inline-flex;
}
.logo {
	height: 70%;
	width: auto;
	cursor: pointer;
}
.title {
	margin: 3% 0 auto 3%;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #1F2D3D;
	-webkit-transition: all 0.2s;
	/* Safari */
	transition: all 0.2s;
	display: inline-flex;
}
.small-title {
	margin: 2.4% 0 auto 1.5%;
	font-size: 18px;
}

.btn-group {
	margin: 2.5% 3.23% 0.82% 0;
	float: right;
	display: flex;
	overflow: none;
	align-items: center;
	-webkit-transition: margin-top 0.2s;
	/* Safari */
	transition: margin-top 0.2s;
}
.small-btn-group {
	/* shrinks btn-group when scroll down */
	margin-top: 1.6%;
}
.menu-btn {
	display: none;
	margin: 4% 0 0 85%;
	position: absolute;
	width: 8%;
	height: auto;
}
.btn-group button {
	font-family: 'Raleway', sans-serif;
	border: none;
	color: black;
	padding: 10px 15px;
	float: left;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom 0.3s;
	/* Safari */
	transition: border-bottom 0.3s;
}
.btn-group button:hover {
	border-bottom: 3px solid #148A43;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
.dropbtn {
	/* Dropdown Button */
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	margin-top: 33%;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 6;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
	display: block;
}
/* ------------------- BANNER -------------------- */

.banner {
	margin-top: 5%;
	position: relative;
	width: 100%;
	height: 25%;
	overflow: hidden;
}
.banner img {
	width: 100%;
	height: auto;
}
.banner-text {
	color: white;
	position: absolute;
	text-align: center;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.6);
}
.learn-more {
	position: absolute;
	margin: 5% 40% 0 40%;
	width: 20%;
	top: 50%;
}
.learn-more button {
	color: white;
	border-radius: 10px;
	border: 2px solid #148A43;
	-webkit-transition: border 0.4s;
	/* Safari */
	transition: border 0.4s;
	width: 50%;
	padding: 5px;
}
.learn-more button:hover {
	border: 2px solid #DB6E27;
}
/* ---------------- who are we  ---------------- */

.description {
	width: 100%;
	height: 12%;
	overflow: hidden;
	background-color: white;
}
.text-body {
	color: #1F2D3D;
	margin: 3% auto;
	width: 50%;
	text-align: center;
}
/* -------------- upcoming event -------------- */

.upcoming-event {
	width: 100%;
	height: 22%;
	background-color: rgba(44, 249, 123, 1);
	position: relative;
	overflow: hidden;
	box-shadow: 0px 1px 4px #C2C2C2, 0px -1px 4px #C2C2C2;
}
.upcoming-event h2 {
	color: white;
}
.upcoming-event u {
	padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 3px solid #DB6E27;
}
.event-left {
	margin: 2% 0 0 10%;
	padding: 1% 0 0 5%;
}
.event-text {
	margin-top: 2%;
	height: 6.77%;
	width: 40%;
	color: #1F2D3D;
}
.event-text h3 {
	font-family: 'Raleway', sans-serif;
	margin-bottom: -3%;
}
.event-text h2 {
	font-weight: 700;
	font-style: italic;
	color: #1F2D3D
}
.event-text p {
	font-family: 'Raleway', sans-serif;
}
.event-text a {
	color: white;
	border-left: 2px solid transparent;
	-webkit-transition: border-left 0.3s;
	/* Safari */
	transition: border-left 0.3s;
	padding: 5px;
}
.event-text a:hover {
	border-left: 2px solid #DB6E27;
}
.event-text #view-all {
	font-style: italic;
	font-weight: 700;
	color: #1F2D3D;
}
.event-right {
	margin: 2% 0 0 0;
	padding-right: 8%;
	height: 90%;
}
.right {
	width: 30%;
	float: right;
}
.right img {
	height: 100%;
	width: auto;
}
.event-right img {
	border-radius: 5px;
	box-shadow: 0 1px 5px #505050;
}
.right:after {
	content: "";
	clear: both;
	display: table;
}
/* ------------- GET INVOLVED ------------- */

.get-involved {
	width: 100%;
	height: 18%;
	z-index: -1;
	padding: 3% 0;
	text-align: center;
	overflow: hidden;
	background-color: white;
}
.options {
	width: 90%;
	margin: 5% auto;
	text-align: center;
}
.options div {
	display: block;
	width: 20%;
	height: 5%;
	float: left;
}
.subtitle {
	margin: 0 auto;
	width: 50%;
}
.options img {
	height: auto;
	width: 40%;
	-webkit-transition: all 0.1s;
	/* Safari */
	transition: all 0.1s;
	cursor: pointer;
}
.options img:hover {
	width: 43%;
	margin-top: -3%;
}
.options span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}
/* ------------ Businesses ------------ */

.businesses {
	width: 100%;
	height: 10%;
	overflow: hidden;
	background-color: white;
	position: relative;
}
.business-text {
	padding: 3%;
	position: absolute;
	z-index: 2;
	color: white;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.business-text span {
	color: #148A43;
}
.businesses img {
	margin-top: -14%;
	width: 100%;
	height: auto;
}
/* ------------ Footer ------------ */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 243px;
	width: 100%;
	background-color: #4A4A4A;
	z-index: 3;
	overflow: hidden;
}
.footer-text {
	margin: auto;
	padding: 2% 0;
	width: 25%;
	color: #FFFFFF;
	font-family: Lato;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}
.footer img {
	margin: 1.5%;
	width: 7%;
	height: auto;
	cursor: pointer;
}
.footer img:hover {
	opacity: 0.7;
}
#copyright {
	font-size: 14px;
}

/* --------------------------------- ABOUT US PAGE ----------------------------------*/
.about-us-body {
	height: 2750px;
	background-color: #f5f7fa;
}
.about {
	margin: 0 auto 2% auto;
	padding: 1%;
	width: 80%;
	background-color: white;
}
.about-banner {
	height: 17%;
}
.about-banner img {
	margin-top: -5%;
}
.team {
	margin: 1% auto;
	width: 82%;
	height: 50%;
	z-index: -1;
	padding: 3% 0;
	text-align: center;
	overflow: hidden;
	background-color: white;
}
.team h2 {
	font-weight: 900;
	font-size: 40px;
	color: #416B9C;
}
.board {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.board div {
	margin-top: 6%;
	display: block;
	width: 50%;
	height: 5%;
	float: left;
}
.board img {
	height: auto;
	width: 30%;
}
.board span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}

/* --------------------------------- SERVICES PAGE ----------------------------------*/
.services-body {
	height: 1500px;
}
.services-banner {
	height: 20%;
}
.services-banner img {
	margin-top: -42%;
}
.services-banner-text {
	padding-top: 7%;
}
.services {
	margin: 0 auto;
	width: 100%;
	height: 60%;
	border-radius: 0px;
	box-shadow: none;
}
.service {
	width: 90%;
	text-align: left;
}
.service div {
	width: 31.3%;
	padding: 1%;
	border-radius: 10px;
	-webkit-transition: all 0.3s;
	/* Safari */
	transition: all 0.3s;
}
.service div:hover {
	cursor: pointer;
	box-shadow: 0px 1px 3px #ABABAB, 0px -1px 3px #ABABAB;
}
.service-text {
	margin: 0 auto;
}
.service img {
	height: auto;
	width: 40%;
	float: left;
}
.service span {
	font-size: 30px;
	font-weight: 500;
	color: #A3749E;
}
.service-subtitle {
	width: 90%;
}
.service-footer {
	height: 15%;
}

.sub-body {
	height: 1200px;
}
.sub-banner {
	height: 40%;
}
.sub-banner-text {
	text-align: left;
	padding: 5%;
}
.sub-banner-text h1 {
	font-weight: 1;
	font-family: 'Raleway', sans-serif;
}
.sub-text-div {
	width: 30%;
}
.sub-banner img {
	margin: 0;
}
.service-right {
	border-left: 1px solid grey;
	width: 35%;
	padding-left: 5%;
	height: 80%;
}
.service-right h2 {
	color: #A3749E;
}
.service-list {
	list-style-type: circle;
}

.service-right li {
	font-size: 20px;
	line-height: 1.6;
	color:#2B2B2B;
}
.service-right li:hover {
	color: #148A43;
}
.service-description {
	height: auto;
	padding: 4% 0;
	background-color: white;
	overflow: hidden;
}
.sub-desc {
	margin: 0 10%;
}

.youth img {
	margin-top: -60%;
}
.women img {
	margin-top: -90%;
}
.business img {
	margin-top: -10%;
}
.cultural img {
	margin-top: -40%;
}

/* ---------------------- Contact Us ------------------------ */
.contact-body {
	height: 1080px;
}
.contact-banner {
	height: 40%;
}
.contact-banner img {
	margin-top: -10%;
}
.contact-text {
	width: auto;
}
.contact-left ul {
	margin-left: 10%;
	list-style: none;
	width: 20%;
	padding-bottom: 2%;
	border-bottom: 1px solid grey;
}

.contact-left li {
	padding: 5%;
	line-height: 1.2;
	font-size: 20px;
	cursor: auto;
}
.contact-left li img {
	width: 25px;
	margin-right: 8%;
	margin-left: -20%;
	height: auto;
}
.contact-right {
	width: 50%;
	margin-left: -5%;
	padding-left: -5%;
	height: 100%;
}
.contact-form {
	width: 70%;
}
.contact-form input {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #A1A1A1;
}
.contact-form textarea {
	display: block;
	width: 100%;
	padding: 5px 10px;
	height: 160px;
	border-radius: 5px;
	border: 1px solid #A1A1A1;
}

.contact-right button {
	color: black;
	margin: 3% 40%;
	border-radius: 10px;
	border: 2px solid #148A43;
	-webkit-transition: border 0.4s;
	/* Safari */
	transition: border 0.4s;
	width: 30%;
	padding: 5px;
}
.contact-right button:hover {
	border: 2px solid #DB6E27;
}

/* ----------------------- Memberships ----------------------- */
.mem-body {
	height: 100vh;
}
.mem-banner {
	height: 70%;
}
.mem-banner img {
	margin-top: -10%;
}

/* ------------------------ Events -------------------------- */
.events-body {
	height: 1900px;
}
.events-banner {
	height: 320px;
}
.events-description {
	height: 200px;
}
.event-calendar {
	margin-top: -100px;
	height: auto;
	padding: 0 5% 10% 5%;
	background-color: white;
}
.month {
	margin:7% 0 0 0;
	width: 70%;
}
#month {
	margin: 0 2%;
	color: #777;
}
.accordion-style-1 {
	background: linear-gradient(300deg, #A4F0C8,white);
}
.accordion-style-1 .active, .accordion-style-1:hover {
	background: linear-gradient(270deg, #7AF0B2,white);
}
.accordion-style-1 div {
	background-color: #54E799;
}

.accordion-style-2 {
	background: linear-gradient(300deg, #F0D7A4,white);
}
.accordion-style-2 .active, .accordion-style-2:hover {
	background: linear-gradient(270deg, #F0C27A,white);
}
.accordion-style-2 div {
	background-color: #F8B244;
}	

.accordion {
	margin-top: 1%;
    color: #777;
    cursor: pointer;
    padding: 0 20px 0 0;
    height: 90px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 25px;
}
.accordion div {
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	display: inline-block;
	color: white;
	height: 70%;
	width: 80px;
	margin: 0 10px 0 0;
}
.accordion:after {
	padding-top: 3%;
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 96%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid #CFCFCF;
    border-top: none;
}
.accordion-event-text {
	color: #1F2D3D;
	width: 100%;
	margin-bottom: 20px;
}
.accordion-event-text a {
	color: #1F2D3D;
}
/* ---- Popup ---- */
.popup {
    display: none; 
    position: fixed;
    z-index: 50; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 90%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    padding: 5% 0;
}
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.close {
    color: #aaa;
    margin: 1% 2% 0 0;
    float: right;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------------ Gallery -------------------------- */
.gallery-body {
	height: 6700px;
}
.gallery-banner {
	height: 300px;
}
.gallery-banner img {
	margin-top: -10%;
}
.gallery-description {
	height: 250px;
}
.gallery-description ul {
	width: 100%;
  	margin: 0 auto;
  	padding: 0;
  	list-style: none;
  	text-align: center;
}
.gallery-description li {
	float: left;
  	width: 31%;
  	margin: 2% auto;
  	padding: 0 1%;
  	text-align: center;
}
.gallery-description li:hover {
	color: #AFAFAF;
}
.gallery {
	margin-top: -5%;
	padding: 5% 10% 5% 10%;
	height: auto;
	background-color: white;
}
.gallery-event {
	width: 100%;
	margin-bottom: 10%;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
}
.event-title {
	padding-top: 2%;
    content: 'View More';
    color: #1F2D3D;
    font-size: 20px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
}
.event-title:hover {
	color: #777;
}
#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #777; 
    color: white; 
    cursor: pointer; 
    padding: 10px 10px 5px 10px; 
    border-radius: 10px; 
    font-size: 30px; 
}

#top:hover {
    background-color: #1F2D3D; 
}

/* --------------------------------- OTHER DEVICES ----------------------------------*/
@media only screen and (max-width: 1100px) {
	html, body {
		height: 2200px;
	}
	.about-us-body {
		height: 2200px;
	}
	.header {
		height: 12%;
	}
	.small-header {
		/* shrinks header when scroll down */
		height: 10.5%;
	}
	#title {
		display: none;
	}
	.btn-group {
		width: 100%;
		height: 600%;
		margin: -0.5% auto;
		display: none;
	}
	.menu-btn {
		margin-top: 3%;
		width: 6.5%;
		display: block;
	}
	.btn-group button {
		background-color: white;
		width: 100%;
		padding: 20px 30px;
	}
	.dropdown {
		display: block;
	}
	.dropdown-content {
		min-width: 100%;
	}
	.show-menu {
		height: 600%;
	}
	.banner {
		margin-top: 8%;
		height: 22%;
	}
	.about {
		height: 15%;
	}
	.event {
		height: 23%;
	}
	.event-left {
		padding: 0% 0 0 0%;
	}
	.event-right {
		padding-right: 17%;
	}
	.get-involved {
		height: 42%;
	}
	.options div {
		margin-top: 5%;
		width: 50%;
	}

/*---- About us -----*/
	.about {
		height: auto;
		margin-top: 5%;
	}
	.team {
		height: auto;
	}
}

@media only screen and (max-width: 500px) {
	html, body {
		height: 4000px;
	}
	.small-header {
		/* shrinks header when scroll down */
		height: 10%;
	}
	.btn-group {
		width: 100%;
		height: 600%;
		display: none;
	}
	.small-btn-group {
		/* shrinks btn-group when scroll down */
		margin-top: 0%;
	}
	.menu-btn {
		margin-top: 4%;
		width: 8%;
		display: block;
	}
	.btn-group button {
		background-color: white;
		width: 100%;
		padding: 20px 30px;
	}
	.dropdown {
		display: block;
	}
	.dropdown-content {
		min-width: 100%;
	}
	.show-menu {
		height: 700%;
	}
	
	.banner {
		height: 15%;
	}
	
	.banner-text {
		width: 90%;
		padding: 30% 5% 0 5%;
	}
	.banner img {
		height: 100%;
		width: auto;
	}
	.learn-more button {
		margin-top: 80%;
		margin-left: -50%;
		width: 100%;
	}
	.description {
		height: 12%;
	}
	.text-body {
		width: 55%;
	}
	.event {
		height: 14%;
	}
	.event-right img {
		height: 30%;
	}
	.event-left {
		float: none;
		display: block;
	}
	.event-right {
		display: none;
	}
	.event-text {
		height: 50%;
		width: 80%;
	}
	.options div {
		margin-top: 8%;
		width: 100%;
	}
	.get-involved {
		height: 35%;
	}
	.businesses {
		margin-top: 10%;
		height: 12%; 
	}
	.business-text {
		color: #293D57;
	}
	.businesses img {
		margin-top: 3%;
		margin-left: -50%;	
		height: 100%;
		width: auto;
	}
	footer {
		height: 12%;
	}
	footer img {
		height: auto;
		width: 20%;
	}
	.f-rectangle-2 {
		padding-top: 40%;
	}
/* ----- About Us ----- */
	.about-us-body {
		height: 4000px;
	}
	.about-us-body h1 {
		font-size: 40px;
	}
	.about-banner {
		overflow: hidden;
		height: 10%;
	}
	.about-banner img {
		margin-top: 5%;
	}
	.about-text {
		width: 80%;
	}
	
	footer {
		margin-top: 15%;
	}
	.team {
		margin-top: 8%;
	}
	.board div {
		margin-top: 15%;
		width: 100%;
	}
	.subtitle {
		width: 70%;
	}
/* ----- Services ----- */
	
	.services-body {
		height: 2000px;
	}
	.services-banner {
		height: 25%;
	}
	.services-banner img {
		margin-top: 0%;
	}
	.services {
		margin: 0 auto;
	}
	.service-left {
		width: 100%;
		display: block;
	}
	.service-right {
		display: none;
	}



	.sub-body {
		height: 1500px;
	}
	.sub-banner {
		height: 30%;
	}
	.sub-text-div {
		width: 80%;
	}
	.sub-banner img {
		margin: 0;
	}
	.service-description {
		height: auto;
		padding: 5%;
	}
	.service-footer {
		margin-top: 0%;
		height: 20%;
	}
}

@media only screen and (min-width: 1680px) {
	html, body {
		height: 2870px;
	}
	h1 {
		font-size: 75px;
		line-height: 75px;
	}
	p {
		font-size: 22px;
		line-height: 30px;
	}
	h2 {
		font-size: 40px;
	}
	button, a {
		font-size: 20px;
		line-height: 28px;
	}
	.title {
		font-size: 22px;
		margin: 3.2% 0 0 2%;
		-webkit-transition: margin 0.2s;
		/* Safari */
		transition: margin 0.2s;
	}
	.small-title {
		margin: 2% 0 0 0.6%;
	}

	.btn-group {
		margin: 2.6% 3.23% 0.82% 0;
		-webkit-transition: margin-top 0.2s;
		/* Safari */
		transition: margin-top 0.2s;
	}
	.small-btn-group {
		/* shrinks btn-group when scroll down */
		margin-top: 1.5%;
	}
}

@media only screen and (min-width: 1900px) {
	html, body {
		height: 2950px;
	}
	button, a {
		font-size: 23px;
		line-height: 30px;
	}
	.title {
		font-size: 25px;
		margin: 3% 0 0 2%;
		-webkit-transition: margin 0.2s;
		/* Safari */
		transition: margin 0.2s;
	}
	.small-title {
		margin: 2% 0 0 0.6%;
	}

	.btn-group {

		margin: 2.6% 3.23% 0.82% 0;
		-webkit-transition: margin-top 0.2s;
		/* Safari */
		transition: margin-top 0.2s;
	}
	.small-btn-group {
		/* shrinks btn-group when scroll down */
		margin-top: 1.5%;
	}
}

@media only screen and (min-width: 2000px) { /* Macbook Pro (2560 x 1600) screen adjustments */
    html, body {
		height: 4000px;
	}
	h1 {
		font-size: 100px;
		line-height: 105px;
	}
	p {
		font-size: 37px;
		line-height: 40px;
	}
	h2 {
		font-size: 50px;
	}
	button, a {
		font-size: 30px;
		line-height: 40px;
	}
	.title {
		font-size: 40px;
		margin: 3% 0 0 2%;
		-webkit-transition: margin 0.2s;
		/* Safari */
		transition: margin 0.2s;
	}
	.small-title {
		margin: 2% 0 0 0.6%;
	}

	.btn-group {
		margin: 2.6% 3.23% 0.82% 0;
		-webkit-transition: margin-top 0.2s;
		/* Safari */
		transition: margin-top 0.2s;
	}
	.small-btn-group {
		/* shrinks btn-group when scroll down */
		margin-top: 1.82%;
	}
}


